.navbar {
    position: sticky;
}

.card-container {
    overflow-x: auto;
    white-space: nowrap;
}

.card {
    display: inline-block;
    width: 15rem;
    margin: 10px;
    white-space: normal;
}

.footer {
    background-color: #f4f4f4;
    padding: 20px;
    text-align: center;
}

.footer a {
    color: #333;
    text-decoration: none;
    margin: 0 10px;
}

.footer a:hover {
    text-decoration: underline;
}